body,
html {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: sans-serif, "Times New Roman",Georgia,Serif;
	background-image:url('stripe.png');
	background-repeat:repeat-x repeat-y;
}

#wrap {
	width: 85%;
	margin: 0 auto;
	background: rgba(83, 102, 130, 0.7);
	border: solid rgb(181, 44, 56) 7px;
	margin-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: rgb(255, 255, 255);
}

#main {
	margin-left: 50px;
	margin-top: 50px;
	float: left;
	width: 50%;
	border-top: 50px;
	margin-bottom: 50px;
}

#graph, #side-log, #node-window {
	border: solid black 3px;
}

#graph {
	background: rgba(255, 255, 255, 0.8);
}

#version {
	clear: both;
	margin-left: 50px;
}

#controls {
	margin-top: 15px;
}

#side-log {
	float: right;
	width: 32%;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	background: rgba(217, 150, 75, 0.8);
}

#side-log, #node-log {
	font-size: 75%;
}

#main-log, #log-message {
	padding-left: 5px;
	margin-left: 15px;
}

#main-log {
	list-style-type: square;
	list-style-position: inside;
	padding-right: 5px;
	padding-bottom: 5px;
	display: inline-block;
	overflow:auto;
	width: 90%;
}

#main-log:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: &quot; &quot;;
 height: 0;
}

#main-log li {
	margin: 0;
	padding: 0;
}

.log-left {
	float: left;
}

.log-right {
	float: right;
}

.clear {
	clear: both;
	display: block;
}

.node-link {
	text-decoration: underline;
}

li.hr {
	margin-bottom: 10px;
	height: 5px;
  	background: rgb(181, 44, 56);
}

div.hr hr {
	display: none;
}

#node-window {
	margin-top: 30px;
	padding: 25px;
	background: rgba(217, 150, 75, 0.8);
	color: rgb(0, 0, 0);
	margin-bottom: 50px;
	width: 640px;
}

#node-controls {
	clear: both;
	margin-top: 20px;
}

#node-queue-parent {
	float: left;
	width: 50%;
}

#node-queue, #node-log {
	margin-left: 15px;
	padding: 15px;
}

#node-log-parent {
	float: right;
	width: 50%;
}

#node-log {
	width: 85%;
	background: #DE6846;
	border: 1px solid black;
}

p.node-queue-item, p.arrow {
	width: 95%;
	text-align: center;
	margin: 0;
}

p.node-queue-item-delete {
	background: red;
}

.node-queue-item {
	background: #DE6846;
	border: 1px solid black;
	font-size: 80%;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #FFFFFF;
}

#node-queue p.arrow {
	font-size: 110%;
}

#node-database .node-database-column {
	border: 1px solid black;
	background: #DE6846;
	margin-bottom: 5px;
	padding: 2px;
	width: 23%;
	text-align: center;
	display: inline-block;
	font-size: 80%;
	color: #FFFFFF;
}

.node-database-column2, .node-database-column3, .node-database-column4 {
	margin-left: 5px;
}

#log-message-parent {
	font-style: italic;
	margin-top: 20px;
}

.italic {
	font-style: italic;
}

.btn{display:inline-block;padding:4px 10px 4px;font-size:13px;line-height:18px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);background-color:#fafafa;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-repeat:no-repeat;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);cursor:pointer;*margin-left:.3em;}.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);background-color:#e6e6e6;background-color:#d9d9d9 \9;color:rgba(0, 0, 0, 0.5);outline:0;}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;background-color:#e6e6e6;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

#input-jump {
   width: 40px;
}

span.rule {
   cursor: pointer;
   text-decoration: underline;
   background: gray;
}
