*.o
meld
print
*.code
*.ast
Makefile.externs
.,*
predicates
server
simulator
*.swo
*.swp
*.pyc
test.out
benchs/instrumentation_files/*
benchs/instrumentation_files*
benchs/output*
benchs/results.csv
benchs/build/*
tests/build/*
/count.sh
gmon.out
/*.m
tags
tests/code/*pp
tests/code/*.data
