*.o
meld
print
*.code
*.ast
Makefile.externs
.,*
predicates
server
simulator
*.swp
*.pyc
test.out
benchs/instrumentation_files/*
benchs/instrumentation_files*
benchs/output*
benchs/results.csv
/count.sh
